

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    margin-top: 2rem;
}
.desktop-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    margin-top: 2rem;
}
.sidebar{
    width: 18%!important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-height: 95vh;
    height: 95vh;
    position: fixed;
    top: 2rem;
    left: 10%;
    gap: 0.5rem;
    /* overflow-y: auto; */
}
.tables{
   
    gap: 1rem;
    position: fixed;
    /* top: 2rem; */
    left: 27%;
    height: 95vh;
    width: 70%;
    flex-direction: column;
    display: flex;
    /* height: 95vh; */
    /* overflow-x: auto; */
    overflow-y: scroll;
}
body{
    height: 100vh;
    overflow-y: hidden;
}

.main{
  margin-top: 2rem;
  padding-top: 5rem;
  width: 100vw;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;

  /* height: 100vh; */
}


.awsui_list_l0dv0_1behr_221{
  max-height: 85dvh;
    overflow: scroll;
}

.back {
  width: 100%;
  display: flex;
  justify-content: end;
  
}


body{
  height: 100vh;
  /* overflow-y: auto; */
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  background: rgb(243 244 246);
}


.back-btn{
  background-color: #164085;
  border: none;
  color: white;
  padding: 12px 20px 12px;
  border-radius: 4px;
  margin-right: 14vw;
}

body{
    font-family: 'Lato', Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale 
}

.card-container{
  gap: 7rem;
  justify-content: center;
    align-items: center;
}



.card-image{
  width: 30px;
  height: auto;
}

.custom-table{
  padding: 2rem;
  padding-top: 1rem;

  padding-left: 3rem;

}
  .awsui_header-controls_wih1l_1200x_321{
    padding-left: 0!important;
  }
.markdown{
  padding: 2rem;
  padding-left: 3rem;
}



@media screen and (max-width: 768px){
  body{
    overflow-y: scroll;
  }
  .content{
    flex-direction: column;
    gap: 1rem;
  }
  .card-container{
    gap: 4rem;
  }
  .sidebar{
    width: 100%!important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-height: 200px;
    min-height: 100px;
    height: max-content;
    position: relative;
    left: 0;
    gap: 0.5rem;
    /* overflow-y: auto; */
}
.awsui_list_l0dv0_1behr_221{
  max-height: 150px;
    overflow: scroll;
}
.tables{
   
    gap: 1rem;
    position: relative;
    /* top: 2rem; */
    top: 0;
    left: 0%;
    height: 100%;
    margin-bottom: 2rem;
    width: 100%;
    flex-direction: column;
    display: flex;
    /* height: 95vh; */
    /* overflow-x: auto; */
    overflow-y: scroll;
}
.custom-table{
  padding: 0rem;
  padding-top: 0rem;

  padding-left: 0rem;

}
.desktop-content{
  display: none;
}
.mobile-content{
  display: flex;
  justify-content: center;
        flex-direction: column;
        align-items: center;
    
}

.back-btn{
  background-color: #164085;
  border: none;
  color: white;
  padding: 8px 10px 8px;
  border-radius: 4px;
  margin-right: 0;
  margin-top: 1rem;
}
  
}