

.content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    margin-top: 2rem;
}
.sidebar{
    width: 18%!important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-height: 95vh;
    height: 95vh;
    position: fixed;
    top: 2rem;
    left: 10%;
    gap: 0.5rem;
    /* overflow-y: auto; */
}
.tables{
   
    gap: 1rem;
    position: fixed;
    top: 2rem;
    left: 27%;
    height: 95vh;
    width: 70%;
    /* height: 95vh; */
    /* overflow-x: auto; */
    /* overflow-y: scroll; */
}
body{
    height: 100vh;
    overflow-y: hidden;
}

.main{
  margin-top: 2rem;
  padding-top: 5rem;
  width: 100vw;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;

  /* height: 100vh; */
}

.markdown{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  /* margin: 5rem; */
  margin-top: 1.5rem;
  margin-left: 2rem;
  max-height: 88vh;
  height: 95vh;
  overflow-y: scroll;

}


.markdown span {
  font-size: 1.5rem;
  font-weight: bold;
}

.markdown table{
  width: 100%;
  border-collapse: collapse;
}
.markdown th{
  border: 1px solid black;
  padding: 0.5rem;
}
.markdown td{
  border: 1px solid black;
  padding: 0.5rem;
}
.awsui_list_l0dv0_1behr_221{
  max-height: 85dvh;
    overflow: scroll;
}

.back {
  width: 100%;
  display: flex;
  justify-content: end;
  
}


body{
  height: 100vh;
  /* overflow-y: auto; */
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  background: rgb(243 244 246);
}


.back-btn{
  background-color: #164085;
  border: none;
  color: white;
  padding: 12px 20px 12px;
  border-radius: 4px;
  margin-right: 17vw;
}

body{
  font-family: 'Lato', sans-serif !important;
}

.card-container{
  gap: 7rem;
  justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
  body{
    overflow-y: scroll;
  }
  .card-container{
    gap: 4rem;
  }
  
}